      /* Style untuk box audio */
      .box-audio {
        position: fixed;
        bottom: 25px;
        right: 25px;
        width: 45px; /* Lebar box */
        height: 45px; /* Tinggi box */
        background-color: rgb(255, 255, 255); /* Warna latar belakang */
        border-radius: 50%; /* Membuat bentuk lingkaran */
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 9999;
      }
    
      /* Style untuk tombol audio */
      .box-audio button {
        background-color: transparent;
        border: none;
        outline: none;
      }
    
      /* Style untuk ikon suara */
      .box-audio button i {
        font-size: 24px;
        color :rgb(88, 88, 88);
      }
.view-pdf {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    margin: 0;
    background-color: rgba(134, 80, 80, 0.678);
    z-index: 999;
    pointer-events: auto; /* Mengaktifkan interaksi dengan elemen */
    top: 0; /* Menempatkan elemen di bagian atas layar */
    left: 0; /* Menempatkan elemen di bagian kiri layar */
}


  /* CSS untuk menengahkan elemen dengan posisi absolut */
  .centered {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 85%;
    z-index: 1000; /* Menempatkan di atas view-pdf */
  }
  /* CSS untuk tombol */
  .btn-close {
    display: flex;
    padding: 10px 20px;
    background-color: #007bff;
    transform: translateX(100%);
    color: white;
    margin: auto;
    width: 40px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 1001; /* Menempatkan di atas view-pdf */
  }

  .btn-close:hover {
    background-color: #0056b3;
  }

  /* Responsif untuk tampilan perangkat seluler */
  @media screen and (max-width: 768px) {
    .centered {
      width: 100%;
      height: 90%;
      top: 45%;
    }

    .btn {
      width: 30px;
    }
  }